<ol class="breadcrumb">
  <li>Projects</li>
  <li class="active">Filtered List</li>
</ol>

<p id="notice"><%= notice %></p>


<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-filter fa-fw"></i> Apply Filters
        <div class="pull-right">
        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <%= render 'projects_filters' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-tasks fa-fw"></i> Projects
        <div class="pull-right">
        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <%= render 'projects_list' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>