<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to 'PAMS', root_path, class: 'navbar-brand' %>
  </div>
  <ul class="nav navbar-top-links navbar-right">
    <%= render 'layouts/navigation_links' %>
  </ul>
  <%= render 'layouts/search_box' %>
  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <%= render 'layouts/side_navigation_links' %>
      </ul>
    </div>
  </div>
</nav>
