<% if user_signed_in? %>
    <li>
      <a href="#"><i class="fa fa-tasks fa-fw"></i> Workload<span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
        <li><a href="">Summary</a></li>
        <li><a href="">Dashboard</a></li>
        <li><a href="">My Projects</a></li>
      </ul>
    </li>
    <li>
      <a href=""><i class="fa fa-random fa-fw"></i> Status</a>
    </li>
    <li>
      <a href=""><i class="fa fa-random fa-fw"></i> Reports</a>
    </li>
    <li>
      <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Maps<span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
        <li><a href="">Funding</a></li>
        <li><a href="" target="_blank">Staff</a></li>
      </ul>
    </li>
    <li>
      <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
        <li><a href="">Program</a></li>
        <li><a href="">Region</a></li>
        <li><a href="">Country</a></li>
        <li><a href="">Organization</a></li>
        <li><a href="">Implementer</a></li>
      </ul>
    </li>
    <li>
      <a href=""><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
    </li>
    <li>
      <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Admin<span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
        <li><a href="">Users</a></li>
        <li><a href="">Roles</a></li>
      </ul>
    </li>
<% end %>